.container {
  width: 40%;

  span {
    display: block;
  }

  img {
    width: 200px;
  }
}

.link {
  display: flex;
  align-items: center;
  line-height: 1rem;
  color: -var(--gray-300);
  transition: all 0.4s ease-in-out;
  margin-bottom: 3rem;

  .icon {
    margin-right: 0.25rem;
  }

  &:hover {
    opacity: 0.7;
    color: var(--red-500);

    .icon {
      position: relative;
      left: -2px;
    }
  }
}